#header{
    border-style: solid;
    border-color: rgb(221, 24, 116);
    height: 23vh;
    width: 94%;
    margin-left:2%;
    border-radius:5px;
}
#p1{
    color: rgb(109, 12, 69);
    text-align:left;
    margin-left:3%;
    font-size:3vw;
    font-weight:bold;
    width:100%;
}
img{
width:7.5%;
margin-left:3%;
margin-top:1vh; 
float:left;
}
#desc{
    color:  rgb(139, 24, 93);
    font-size:2vw;;
    margin-top:5vh;
    margin-left:3%;
    font-style:italic;
    font-weight: bold;
    float:left;
    width:49%;
   
}
#nav{
    margin-top:7vh;
    font-style:italic;
    font-weight: bold;
    float:left;
    position :absolute;

}